@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@font-face {
  font-family:'Lato';
  src: url(Lato/Lato-Italic.ttf);
}
@font-face{
  font-family:'Quicksand';
  src: url(Quicksand/Quicksand-Medium.ttf);
}
@font-face{
  font-family: 'Press Start2P';
  src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face{
  font-family: 'Exile';
  src: url(Exile/Exile/Exile-Regular.ttf);
}
@font-face{
  font-family: 'Battambang';
  src: url(Battambang/Battambang-Regular.ttf);
}
@font-face{
  font-family: 'Dancing script';
  src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Fjalla One';
  src: url(Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face{
  font-family: 'Noto Sans TC';
  src: url(Noto_Sans_TC/NotoSansTC-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Playwrite DK Loopet';
  src: url(Playwrite_DK_Loopet/PlaywriteDKLoopet-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Playwrite HU';
  src: url(Playwrite_HU/PlaywriteHU-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Poetsen One';
  src: url(Poetsen_One/PoetsenOne-Regular.ttf);
}
@font-face{
  font-family: 'Cherry Bomb One';
  src: url(Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}
@font-face{
  font-family: 'Playwrite Mx Guides';
  src: url(Playwrite_MX_Guides/PlaywriteMXGuides-Regular.ttf);
}
@font-face{
  font-family: 'Flavors';
  src: url(Flavors/Flavors-Regular.ttf);
}
@font-face{
  font-family: 'Grandstander';
  src: url(Grandstander/Grandstander-Italic-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Jacques Francois Shadow';
src: url(Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf);
}
@font-face{
  font-family: 'Jaro';
  src: url(Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}
@font-face{
  font-family: 'DM Serif Display';
  src: url(Noto_Sans_TC/NotoSansTC-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Pacifico';
  src: url(Pacifico/Pacifico-Regular.ttf);
}
@font-face{
  font-family: 'Tilt Warp';
  src: url(Tilt_Warp/TiltWarp-Regular-VariableFont_XROT,YROT.ttf);
}
@font-face{
  font-family: 'Vast Shadow';
  src: url(Vast_Shadow/VastShadow-Regular.ttf);
}
@font-face{
  font-family: 'Caveat';
  src: url(Caveat/Caveat-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter , 
.whyHLetter
.whyYLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 90px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'fantasy', Arial;
}

.didILetter {
  font-size: 10px;
  font-weight: 400;
  color: blueviolet;
  text-decoration: underline;
  text-transform: none;
  font-family: 'Times', 'Times New Roman', serif, Arial;
}

.didDTwoLetter {
  font-size: 50px;
  font-weight: 100;
  color: rgb(28, 241, 4);
  text-decoration: none;
  text-transform: lowercase;
  font-family:'Calibri', sans-serif , Arial, serif;
}

/* THE word */

.theTLetter,
.theHLetter
.theELetter {
  font-size: 40px;
  font-weight: 300;
  color: aquamarine;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Roboto', arial , sans-serif;
}
/* FRONT-END word */

.frontendFLetter {
  font-size: 140px;
  font-weight: normal;
  color: skyblue;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.frontendRLetter {
  font-size: 20px;
  font-weight: 800;
  color:rgb(107, 231, 94);
  text-decoration:none;
  text-transform: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frontendOLetter {
  font-size: 5px;
  font-weight: 600;
  color: beige;
  text-decoration:double;
  text-transform: lowercase;
  font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
}

.frontendNLetter {
  font-size: 35px;
  font-weight: normal;
  color: lightpink;
  text-decoration:overline;
  text-transform: capitalize;
  font-family: 'Raleway Dots',Arial, Helvetica, sans-serif;
}

.frontendTLetter {
  font-size: 90px;
  font-weight: 100;
  color: rgb(181, 181, 36);
  text-decoration:double;
  text-transform: none;
  font-family: 'Press Start2P';
}

.frontendELetter {
  font-size: 5px;
  font-weight: 600;
  color: rgb(54, 5, 46);
  text-decoration: ivory;
  text-transform: lowercase;
  font-family: 'Cochin', Arial, Helvetica, sans-serif;
}

.frontendNTwoLetter {
  font-size: 43px;
  font-weight: 100;
  color: black;
  text-decoration:underline;
  text-transform: lowercase;
  font-family: Monospace, Arial, Helvetica, sans-serif;
}

.frontendDLetter {
  font-size: 20px;
  font-weight: 200;
  color: rgb(14, 0, 0);
  text-decoration:line-through;
  text-transform: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 55px;
  font-weight: 100;
  color: rgb(22, 71, 6, 0.877);
  text-decoration:none;
  text-transform: lowercase;
font-family: 'Exile', Arial, Helvetica, sans-serif;
}

.developerELetter {
  font-size: 44px;
  font-weight: 300;
  color: rgb(67, 97, 172);
  text-decoration:dashed;
  text-transform: capitalize;
  font-family: 'Battambang', Arial, Helvetica, sans-serif;
}

.developerVLetter {
  font-size: 16px;
  font-weight: 300;
  color: indianred;
  text-decoration:dotted;
  text-transform: capitalize;
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

.developerETwoLetter {
  font-size: 33px;
  font-weight: 900;
  color: rgb(213, 53, 112);
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Noto Sans Tc', Arial, Helvetica, sans-serif;
}

.developerLLetter {
  font-size: 22px;
  font-weight: 400;
  color: rgb(11, 199, 92);
  text-decoration:line-through;
  text-transform: capitalize;
  font-family: 'Playwrite DK Loopet', Arial, Helvetica, sans-serif;
}

.developerOLetter {
  font-size: 70px;
  font-weight: 500;
  color: rgb(194, 118, 11);
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Playwrite HU', Arial, Helvetica, sans-serif;
}

.developerPLetter {
  font-size: 5px;
  font-weight: 600;
  color: rgb(145, 13, 13);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Poesten One', Arial, Helvetica, sans-serif;
}

.developerEThreeLetter {
  font-size: 30px;
  font-weight: 200;
  color: rgb(0, 255, 85);
  text-decoration: double;
  text-transform: capitalize;
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
}

.developerRLetter {
  font-size: 60px;
  font-weight: 600;
  color: rgb(11, 85, 92);
  text-decoration:underline;
  text-transform: lowercase;
  font-family: 'Arial Narrow Bold', Arial, Helvetica, sans-serif;
}

/* TAKE word */

.takeTLetter ,
.takeALetter
.takeKLetter
.takeELetter {
  font-size: 44px;
  font-weight: 700;
  color: rgb(200, 64, 11);
  text-decoration:dotted;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.takeTLetter,
.takeALetter
.takeKLetter
.takeELetter {
  font-size: 40px;
  font-weight: 100;
  color: rgb(93, 4, 99);
  text-decoration:line-through;
  text-transform: capitalize;
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
}

/* UP word */

.upULetter ,
.upPLetter {
  font-size: 50px;
  font-weight: 200;
  color: rgb(54, 207, 71);
  text-decoration: wavy;
  text-transform: lowercase;
  font-family: 'Playwrite Mx Guides',Arial, Helvetica, sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 20px;
  font-weight: 300;
  color: rgb(17, 201, 91);
  text-decoration:dotted;
  text-transform: lowercase;
  font-family: 'Caveat', Arial, Helvetica, sans-serif;
}

.gardeningALetter {
  font-size: 67px;
  font-weight: 200;
  color: rgb(159, 31, 138);
  text-decoration:dashed;
  text-transform: capitalize;
  font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
}

.gardeningRLetter {
  font-size: 25px;
  font-weight: 700;
  color: rgba(20, 228, 44, 0.575);
  text-decoration:line-through;
  text-transform: capitalize;
  font-family: 'Flavors', Arial, Helvetica, sans-serif;
}

.gardeningDLetter {
  font-size: 44px;
  font-weight: 200;
  color: rgb(177, 78, 6);
  text-decoration:underline;
  text-transform: capitalize;
  font-family: 'Jaro', Arial, Helvetica, sans-serif;
}

.gardeningELetter {
  font-size: 90px;
  font-weight: 100;
  color: rgb(141, 141, 10);
  text-decoration:double;
  text-transform: lowercase;
  font-family: 'Tilt Warp', Arial, Helvetica, sans-serif;
}

.gardeningNLetter {
  font-size: 31px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration:overline;
  text-transform: lowercase;
  font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
}

.gardeningILetter {
  font-size: 10px;
  font-weight: 300;
  color: rgb(249, 10, 10);
  text-decoration:double;
  text-transform: capitalize;
  font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

.gardeningNTwoLetter {
  font-size: 5px;
  font-weight: 400;
  color: rgb(154, 12, 149);
  text-decoration:dotted;
  text-transform: capitalize;
  font-family: 'Jacques Francois Shadow', Arial, Helvetica, sans-serif;
}

.gardeningGTwoLetter {
  font-size: 40px;
  font-weight: 500;
  color: rgb(10, 154, 125);
  text-decoration:dotted;
  text-transform: capitalize;
  font-family: 'Grandstander', Arial, Helvetica, sans-serif;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 11px;
  font-weight: 100;
  color: rgb(76, 76, 8);
  text-decoration:line-through;
  text-transform: uppercase;
  font-family: 'Exile', Arial, Helvetica, sans-serif;
}

.becauseELetter {
  font-size:44px;
  font-weight: 300;
  color: rgb(170, 7, 7);
  text-decoration:line-through;
  text-transform: lowercase;
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

.becauseCLetter {
  font-size: 55px;
  font-weight: 300;
  color: rgb(17, 144, 7);
  text-decoration:dotted;
  text-transform: lowercase;
  font-family: 'cochin',Arial, Helvetica, sans-serif;
}

.becauseALetter {
  font-size: 55px;
  font-weight: 600;
  color: royalblue;
  text-decoration:dotted;
  text-transform: uppercase;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.becauseULetter {
  font-size: 5px;
  font-weight: 600;
  color: teal;
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.becauseSLetter {
  font-size: 20px;
  font-weight: 700;
  color: papayawhip;
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Battamabng', Arial, Helvetica, sans-serif;
}

.becauseETwoLetter {
  font-size: 66px;
  font-weight: 200;
  color: khaki;
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Exile', Arial, Helvetica, sans-serif;
}

/* THEY word */

.theyTLetter {
  font-size: 33px;
  font-weight: 400;
  color: darkslategrey;
  text-decoration:dashed;
  text-transform: uppercase;
  font-family: 'Cherry bomb one', Arial, Helvetica, sans-serif;
}

.theyHLetter {
  font-size: 43px;
  font-weight: 700;
  color: cornflowerblue;
  text-decoration:none;
  text-transform: lowercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.theyELetter {
  font-size: 44px;
  font-weight: 800;
  color: chocolate;
  text-decoration:double;
  text-transform: lowercase;
  font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.theyYLetter {
  font-size: 29px;
  font-weight: 500;
  color: cyan;
  text-decoration:line-through;
  text-transform: lowercase;
  font-family: 'Playwrite dk loopet', Arial, Helvetica, sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 25px;
  font-weight: 400;
  color: orangered;
  text-decoration:underline;
  text-transform: uppercase;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.wantedALetter {
  font-size: 22px;
  font-weight: 400;
  color: rgb(175, 93, 5);
  text-decoration:solid;
  text-transform: lowercase;
  font-family: 'Noto san tc', Arial, Helvetica, sans-serif;
}

.wantedNLetter {
  font-size: 5px;
  font-weight: 600;
  color: peru;
  text-decoration:dotted;
  text-transform: lowercase;
  font-family: 'dancing script', Arial, Helvetica, sans-serif;
}

.wantedTLetter {
  font-size: 80px;
  font-weight: 200;
  color: rgb(5, 44, 173);
  text-decoration:none;
  text-transform: lowercase;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.wantedELetter {
  font-size: 20px;
  font-weight: normal;
  color: rgb(90, 11, 175);
  text-decoration:wavy;
  text-transform: uppercase;
  font-family: 'playwrite hu', Arial, Helvetica, sans-serif;
}
.wantedDLetter {
  font-size: 20px;
  font-weight: 100;
  color: rgb(78, 190, 183);
  text-decoration:dotted;
  text-transform: lowercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* TO word */

.toTLetter ,
.toOLetter {
  font-size: 77px;
  font-weight: lighter;
  color: lightsalmon;
  text-decoration:wavy;
  text-transform: capitalize;
  font-family: 'Vast shadow', Arial, Helvetica, sans-serif;

}

/* IMPROVE word */

.improveILetter {
  font-size: 90px;
  font-weight: 500;
  color: rgb(79, 10, 10);
  text-decoration:overline;
  text-transform: uppercase;
  font-family: 'Playwrite MX guides', Arial, Helvetica, sans-serif;
}

.improveMLetter {
  font-size: 33px;
  font-weight: 300;
  color: rgb(160, 71, 196);
  text-decoration:double;
  text-transform: uppercase;
  font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
}

.improvePLetter {
  font-size: 77px;
  font-weight: 700;
  color: rgb(35, 157, 63);
  text-decoration:line-through;
  text-transform: uppercase;
  font-family: 'Flavors', Arial, Helvetica, sans-serif;
}

.improveRLetter {
  font-size: 66px;
  font-weight: 600;
  color: rgb(198, 20, 88);
  text-decoration:dotted;
  text-transform: lowercase;
  font-family: 'Playwrite hu', Arial, Helvetica, sans-serif;
}

.improveOLetter {
  font-size: 5px;
  font-weight: 900;
  color: beige;
  text-decoration:double;
  text-transform: lowercase;
  font-family: 'times',Arial, Helvetica, sans-serif;
}

.improveVLetter {
  font-size: 5px;
  font-weight: 100;
  color: hotpink;
  text-decoration:overline;
  text-transform: lowercase;
  font-family: 'Times new roman', Arial, Helvetica, sans-serif;
}

.improveELetter {
  font-size: 22px;
  font-weight: 500;
  color:indigo;
  text-decoration:line-through;
  text-transform: lowercase;
  font-family: 'Jaro', Arial, Helvetica, sans-serif;
}

/* THEIR word */

.theirTLetter {
  font-size: 40px;
  font-weight: 300;
  color:lime;
  text-decoration:double;
  text-transform: lowercase;
  font-family: 'Caveat', Arial, Helvetica, sans-serif;
}

.theirHLetter {
  font-size: 30px;
  font-weight: 200;
  color: blue;
  text-decoration: dotted;
  text-transform: uppercase;
  font-family: 'cherry bomb one', Arial, Helvetica, sans-serif;
}

.theirELetter {
  font-size: 44px;
  font-weight: 300;
  color: antiquewhite;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
}

.theirILetter {
  font-size: 30px;
  font-weight: 200;
  color: fuchsia;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Poesten One', Arial, Helvetica, sans-serif;
}

.theirRLetter {
  font-size: 22px;
  font-weight: 200;
  color: yellowgreen;
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

/* ROOT word */

.rootRLetter {
  font-size: 20px;
  font-weight: 100;
  color: rgb(111, 0, 255);
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Flavors',Arial, Helvetica, sans-serif;
}

.rootOLetter {
  font-size: 30px;
  font-weight: normal;
  color: plum;
  text-decoration: dashed;
  text-transform: uppercase;
  font-family:'Press Start 2P', Arial, Helvetica, sans-serif;
}

.rootOTwoLetter {
  font-size: 10px;
  font-weight: 200;
  color: aquamarine;
  text-decoration:solid;
  text-transform: uppercase;
  font-family: 'Jaro', Arial, Helvetica, sans-serif;
}

.rootTLetter {
  font-size: 5px;
  font-weight: 400;
  color:saddlebrown;
  text-decoration:none;
  text-transform: uppercase;
  font-family:'Fjalla one', Arial, Helvetica, sans-serif;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 55px;
  font-weight: 400;
  color: snow;
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Tilt Warp';
}

.skillsKLetter {
  font-size: 33px;
  font-weight: 100;
  color:goldenrod;
  text-decoration:dotted;
  text-transform: uppercase;
  font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
}

.skillsILetter {
  font-size: 22;
  font-weight: 950;
  color: wheat;
  text-decoration:line-through;
  text-transform: uppercase;
  font-family: 'Playwrite One', Arial, Helvetica, sans-serif;
}

.skillsLLetter {
  font-size: 7px;
  font-weight: 400;
  color: tomato;
  text-decoration:overline;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skillsLTwoLetter {
  font-size: 66px;
  font-weight: 500;
  color: navy;
  text-decoration:underline;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}
.skillsSTwoLetter {
font-size: 10px;
  font-weight: 600;
  color: navajowhite;
  text-decoration:wavy;
  text-transform: lowercase;
  font-family: 'Dancing script', Arial, Helvetica, sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 20px;
  font-weight: 200;
  color: violet;
  text-decoration:none;
  text-transform: lowercase;
  font-family: 'Jacques francois shadow', Arial, Helvetica, sans-serif,
}

.exclamation-mark {
  font-size: 5px;
  font-weight: 600;
  color: palevioletred;
  text-decoration: none;
  text-transform: none;
  font-family: 'Playwrite DK Loopet', Arial, Helvetica, sans-serif;
}

.question-mark {
  font-size: 15px;
  font-weight: 400;
  color: rgb(86, 34, 56);
  text-decoration: dotted;
  text-transform: none;
  font-family: 'Battambang',Arial, Helvetica, sans-serif;
}
